Client/ClienteVariado/Connected Services/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pacman_Sevices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pacman_Sevices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IRegisterService.Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Código" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IRegisterService.Jugador" nillable="true" type="tns:IRegisterService.Jugador" />
  <xs:complexType name="ILoginService.Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ILoginService.Usuario" nillable="true" type="tns:ILoginService.Usuario" />
</xs:schema>